<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Vue JS</title>
</head>

<body>


    <div id="app" class="m-5 ">
        <p> {{nomeCompleto}}</p>
        <hr>

        <button @click="puxarPaises">Puxar</button>

        <select name="paises" id="paises" v-model="paisSelecionado">
            <option v-for="pais in paises" :value="pais.name">
                {{pais.name}}
            </option>
        </select>
        <p> {{capital.capital}} </p>


    </div>


    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                nome: "Adriano",
                sobrenome: "Vinicius",
                paises: {},
                paisSelecionado: "",
                capital: "",
            },

            methods: {
                puxarPaises() {
                    fetch(" https://restcountries.eu/rest/v2/all")
                        .then(r => r.json())
                        .then(json => this.paises = json)
                }

            },
            computed: {
                nomeCompleto() {
                    return this.nome + " " + this.sobrenome
                }


            },
            watch: {
                paisSelecionado(valor) {
                    this.capital = this.paises.find((pais) => pais.name === valor)

                }

            }
        })
    </script>

    <!--
            Você possui o nome e sobrenome do usuário em data,
            crie uma propriedade computed que retorne o nome completo
            
            Utilize a rest API para puxar as capitais dos paises
            Use um campo de select, onde o usuário pode selecionar o país.

            https://restcountries.eu/rest/v2/all

            Com uma função watch, mude a capital de acordo com o país selecionado:

            Ex de campo select:

            <select name="paises" id="paises" v-model="selecionado">
                <option v-for="pais in paises" :value="pais.name">
                {{pais.name}}
                </option>
            </select>
            -->

</body>

</html>