<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Vue JS</title>
</head>

<body>


    <div id="app">

        <button @click="fazFetch">Puxar CEP</button>

        <ul v-for="(item , key) in endereco">
            <li><strong>{{key}}:</strong> {{item}}</li>
        </ul>

        <hr>


        <button @click="fetchCursos">Puxa cursos</button>
    
        <div v-for=" {curso} in cursos" class="mt-2">
            <h5>{{curso}}
            </h5>
            <ul>

                <li v-for="({aulas}, index) in cursos">{{aulas[index].nome}}</li>

            </ul>
        </div>

    </div>



    <script>

        const vm = new Vue({
            el: "#app",
            data: {
                endereco: {},
                cursos: {}
            },
            
            methods: {
                fazFetch() {
                    fetch(" https://viacep.com.br/ws/04538133/json/")
                        .then(r => r.json())
                        .then(json => this.endereco = json)

                },
                
                fetchCursos() {
                    fetch("./cursos.json")
                        .then(r => r.json())
                        .then(json => this.cursos = json)
                }

            }
        })

    </script>

    <!--
            Utilizando a api:
            https://viacep.com.br/ws/04538133/json/
            Mostre o cep, logradouro, complemento, bairro, localidade e uf do que for retornado.

            
            Use o arquivo json da aula, para listar os cursos e as matérias.
           -->
</body>

</html>