<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Vue JS</title>
</head>

<body>



    <div id="app">
        <!-- v-if e v-else -->

        <!-- 
        <p v-if="logado">Usuario Logado</p>
        <p v-else="logado">Usuario Deslogado</p>
 -->
        <!-- v if -else -->
        <!-- 
        <p v-if="usuarioTal === 1">Usuario 1</p>
        <p v-else-if="usuarioTal === 2">Usuario 2</p>
        <p v-else-if="usuarioTal === 3">Usuario 3</p>

 -->
       <!--  <template v-if="logado">
            <p><strong>template</strong> usuario esta logado</p>
            <button @click="logado = false">Deslogar</button>
        </template>

        <template v-else>
            <p><strong>template</strong> usuario esta Deslogado</p>
            <button @click="logado = true">Logar</button>
        </template> -->


        <p v-if="logado">V if usuario logado </p>
        <p v-show="logado">V show usuario logado </p>

    </div>

    <script>
        const vm = new Vue({
            el: "#app",

            data: {
                logado: true,
                usuarioTal: 1
            },

            methods: {

            }
        })
    </script>




</body>

</html>