<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Vue JS</title>
</head>

<body>


    <div id="app">

        <ul>
            <!-- para Array -->
            <li v-for="(curso, index) in cursos"> {{index}} {{curso}} </li>
        </ul>

        <hr>

        <ul>
            <!-- para objeto -->
            <li v-for="(valor, key) in estados">
                <!-- {{valor}} -->
                {{key}}
                {{valor.nome}}
                {{valor.populacao}}
            </li>

        </ul>

        <hr>

        <ul>
            <!-- desestruturar o objeto -->
            <li v-for="({nome, populacao} , key) in estados">
                {{nome}}
                {{populacao}}
            </li>
        </ul>

        <hr>

        <!-- uso do key para dar identidade unica -->
        <ul>
            <li v-for="({nome, populacao} ) in estados  " :key="nome.id">
                {{nome}}
                {{populacao}}
            </li>

        </ul>

        <!-- loop basico de numeros -->
        <ul>
            <li v-for="numero in 5">
                {{cursos[numero - 1]}}

            </li>
        </ul>

        <!-- reatividade -->
        <ul>
            <li v-for="item  in lista">
                {{item}}

            </li>
        </ul>


        <button @click="removerItem">REmover</button>
        <button @click="removerItem">Modificar</button>

        <!-- impotante, modificar uma array nao ativará a reatividade, é preico um metodo de Vue  para isso acontecer  -->

    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                cursos: ["HTML", "CSS", "JavaScript", "PHP", "WordPress"],
                lista: ["item 1", "item 2", "item 3"],


                estados: {
                    sp: {
                        populacao: "45 milhões",
                        nome: "São Paulo"
                    },
                    mg: {
                        populacao: "21 milhões",
                        nome: "Minas Gerais"
                    },
                    rj: {
                        populacao: "17 milhões",
                        nome: "Rio de Janeiro"
                    }
                }
            },
            methods: {
                removerItem() {
                    this.lista.pop()
                },
                modificarItem() {

                    this.lista[0] = "Banana"; //forma que nao ativa a reatividade

                    //assim ativa
                    this.$set(this.lista, 0, "Banana")
                    //1°  item que quer modificar 
                    //2°  a posição dele   
                    //3°  Novo valor   
                }

            }
        })
    </script>


</body>

</html>